aiohttp==3.8.3 ; python_version >= "3.8" and python_version < "3.10"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "3.10"
alabaster==0.7.12 ; python_version >= "3.8" and python_version < "3.10"
apeye==1.2.0 ; python_version >= "3.8" and python_version < "3.10"
asgiref==3.6.0 ; python_version >= "3.8" and python_version < "3.10"
async-timeout==4.0.2 ; python_version >= "3.8" and python_version < "3.10"
atomicwrites==1.4.1 ; python_version >= "3.8" and python_version < "3.10" and sys_platform == "win32"
attrs==22.1.0 ; python_version >= "3.8" and python_version < "3.10"
autodocsumm==0.2.9 ; python_version >= "3.8" and python_version < "3.10"
babel==2.11.0 ; python_version >= "3.8" and python_version < "3.10"
base58==2.1.1 ; python_version >= "3.8" and python_version < "3.10"
beautifulsoup4==4.11.1 ; python_version >= "3.8" and python_version < "3.10"
bitarray==1.2.2 ; python_version >= "3.8" and python_version < "3.10"
cachecontrol[filecache]==0.12.11 ; python_version >= "3.8" and python_version < "3.10"
cachetools==5.2.0 ; python_version >= "3.8" and python_version < "3.10"
cairo-lang==0.10.3 ; python_version >= "3.8" and python_version < "3.10"
certifi==2022.9.24 ; python_version >= "3.8" and python_version < "3.10"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.10" and sys_platform == "win32"
crypto-cpp-py==1.0.4 ; python_version >= "3.8" and python_version < "3.10"
cssutils==2.6.0 ; python_version >= "3.8" and python_version < "3.10"
cytoolz==0.12.0 ; python_version >= "3.8" and python_version < "3.10" and implementation_name == "cpython"
dict2css==0.3.0 ; python_version >= "3.8" and python_version < "3.10"
docutils==0.17.1 ; python_version >= "3.8" and python_version < "3.10"
domdf-python-tools==3.5.0 ; python_version >= "3.8" and python_version < "3.10"
ecdsa==0.18.0 ; python_version >= "3.8" and python_version < "3.10"
enum-tools[sphinx]==0.9.0.post1 ; python_version >= "3.8" and python_version < "3.10"
eth-abi==3.0.1 ; python_version >= "3.8" and python_version < "3.10"
eth-account==0.6.1 ; python_version >= "3.8" and python_version < "3.10"
eth-hash==0.3.3 ; python_version >= "3.8" and python_version < "3.10"
eth-hash[pycryptodome]==0.3.3 ; python_version >= "3.8" and python_version < "3.10"
eth-keyfile==0.6.0 ; python_version >= "3.8" and python_version < "3.10"
eth-keys==0.4.0 ; python_version >= "3.8" and python_version < "3.10"
eth-rlp==0.3.0 ; python_version >= "3.8" and python_version < "3.10"
eth-typing==3.2.0 ; python_version >= "3.8" and python_version < "3.10"
eth-utils==2.1.0 ; python_version >= "3.8" and python_version < "3.10"
fastecdsa==2.2.3 ; python_version >= "3.8" and python_version < "3.10"
frozendict==1.2 ; python_version >= "3.8" and python_version < "3.10"
frozenlist==1.3.3 ; python_version >= "3.8" and python_version < "3.10"
furo==2022.12.7 ; python_version >= "3.8" and python_version < "3.10"
hexbytes==0.3.0 ; python_version >= "3.8" and python_version < "3.10"
html5lib==1.1 ; python_version >= "3.8" and python_version < "3.10"
idna==3.4 ; python_version >= "3.8" and python_version < "3.10"
imagesize==1.4.1 ; python_version >= "3.8" and python_version < "3.10"
importlib-metadata==5.1.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.10.0 ; python_version >= "3.8" and python_version < "3.9"
iniconfig==1.1.1 ; python_version >= "3.8" and python_version < "3.10"
ipfshttpclient==0.8.0a2 ; python_version >= "3.8" and python_version < "3.10"
jinja2==3.0.3 ; python_version >= "3.8" and python_version < "3.10"
jsonschema==4.17.1 ; python_version >= "3.8" and python_version < "3.10"
lark==1.1.4 ; python_version >= "3.8" and python_version < "3.10"
lockfile==0.12.2 ; python_version >= "3.8" and python_version < "3.10"
lru-dict==1.1.8 ; python_version >= "3.8" and python_version < "3.10"
markupsafe==2.1.1 ; python_version >= "3.8" and python_version < "3.10"
marshmallow-dataclass==8.4.2 ; python_version >= "3.8" and python_version < "3.10"
marshmallow-enum==1.5.1 ; python_version >= "3.8" and python_version < "3.10"
marshmallow-oneofschema==3.0.1 ; python_version >= "3.8" and python_version < "3.10"
marshmallow==3.17.1 ; python_version >= "3.8" and python_version < "3.10"
mpmath==1.2.1 ; python_version >= "3.8" and python_version < "3.10"
msgpack==1.0.4 ; python_version >= "3.8" and python_version < "3.10"
multiaddr==0.0.9 ; python_version >= "3.8" and python_version < "3.10"
multidict==6.0.2 ; python_version >= "3.8" and python_version < "3.10"
mypy-extensions==0.4.3 ; python_version >= "3.8" and python_version < "3.10"
natsort==8.2.0 ; python_version >= "3.8" and python_version < "3.10"
netaddr==0.8.0 ; python_version >= "3.8" and python_version < "3.10"
numpy==1.23.5 ; python_version >= "3.8" and python_version < "3.10"
packaging==21.3 ; python_version >= "3.8" and python_version < "3.10"
parsimonious==0.8.1 ; python_version >= "3.8" and python_version < "3.10"
pipdeptree==2.3.3 ; python_version >= "3.8" and python_version < "3.10"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==2.5.4 ; python_version >= "3.8" and python_version < "3.10"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.10"
prometheus-client==0.15.0 ; python_version >= "3.8" and python_version < "3.10"
protobuf==3.20.3 ; python_version >= "3.8" and python_version < "3.10"
py==1.11.0 ; python_version >= "3.8" and python_version < "3.10"
pycryptodome==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
pygments==2.13.0 ; python_version >= "3.8" and python_version < "3.10"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.10"
pyrsistent==0.19.2 ; python_version >= "3.8" and python_version < "3.10"
pytest-asyncio==0.19.0 ; python_version >= "3.8" and python_version < "3.10"
pytest==6.2.5 ; python_version >= "3.8" and python_version < "3.10"
pytz==2022.6 ; python_version >= "3.8" and python_version < "3.10"
pywin32==305 ; python_version >= "3.8" and python_version < "3.10" and platform_system == "Windows"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.10"
requests==2.28.1 ; python_version >= "3.8" and python_version < "3.10"
rlp==3.0.0 ; python_version >= "3.8" and python_version < "3.10"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.10" and python_version >= "3.8"
ruamel-yaml==0.17.21 ; python_version >= "3.8" and python_version < "3.10"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.10"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "3.10"
soupsieve==2.3.2.post1 ; python_version >= "3.8" and python_version < "3.10"
sphinx-autodoc-typehints==1.19.5 ; python_version >= "3.8" and python_version < "3.10"
sphinx-basic-ng==1.0.0b1 ; python_version >= "3.8" and python_version < "3.10"
sphinx-jinja2-compat==0.2.0 ; python_version >= "3.8" and python_version < "3.10"
sphinx-prompt==1.5.0 ; python_version >= "3.8" and python_version < "3.10"
sphinx-tabs==3.4.0 ; python_version >= "3.8" and python_version < "3.10"
sphinx-toolbox==3.2.0 ; python_version >= "3.8" and python_version < "3.10"
sphinx==5.3.0 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.8" and python_version < "3.10"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.8" and python_version < "3.10"
sympy==1.11.1 ; python_version >= "3.8" and python_version < "3.10"
tabulate==0.9.0 ; python_version >= "3.8" and python_version < "3.10"
toml==0.10.2 ; python_version >= "3.8" and python_version < "3.10"
toolz==0.12.0 ; python_version >= "3.8" and python_version < "3.10" and implementation_name == "pypy" or python_version >= "3.8" and python_version < "3.10" and implementation_name == "cpython"
typeguard==2.13.3 ; python_version >= "3.8" and python_version < "3.10"
typing-extensions==4.3.0 ; python_version >= "3.8" and python_version < "3.10"
typing-inspect==0.8.0 ; python_version >= "3.8" and python_version < "3.10"
urllib3==1.26.13 ; python_version >= "3.8" and python_version < "3.10"
varint==1.0.2 ; python_version >= "3.8" and python_version < "3.10"
web3==6.0.0b4 ; python_version >= "3.8" and python_version < "3.10"
webencodings==0.5.1 ; python_version >= "3.8" and python_version < "3.10"
websockets==10.4 ; python_version >= "3.8" and python_version < "3.10"
yarl==1.8.1 ; python_version >= "3.8" and python_version < "3.10"
zipp==3.10.0 ; python_version >= "3.8" and python_version < "3.10"
