GOERLI_INTEGRATION_RPC_URL=URL
GOERLI_TESTNET_RPC_URL=URL
SEPOLIA_INTEGRATION_RPC_URL=URL
SEPOLIA_TESTNET_RPC_URL=URL
GOERLI_INTEGRATION_ACCOUNT_PRIVATE_KEY=0x1234567890
GOERLI_INTEGRATION_ACCOUNT_ADDRESS=0x9876543210
GOERLI_TESTNET_ACCOUNT_PRIVATE_KEY=0xabcdef
GOERLI_TESTNET_ACCOUNT_ADDRESS=0xfedcba
SEPOLIA_INTEGRATION_ACCOUNT_PRIVATE_KEY=0x1234567890
SEPOLIA_INTEGRATION_ACCOUNT_ADDRESS=0x9876543210
SEPOLIA_TESTNET_ACCOUNT_PRIVATE_KEY=0xabcdef
SEPOLIA_TESTNET_ACCOUNT_ADDRESS=0xfedcba