INTEGRATION_RPC_URL=URL
TESTNET_RPC_URL=URL
INTEGRATION_ACCOUNT_PRIVATE_KEY=0x1234567890
INTEGRATION_ACCOUNT_ADDRESS=0x9876543210
TESTNET_ACCOUNT_PRIVATE_KEY=0xabcdef
TESTNET_ACCOUNT_ADDRESS=0xfedcba
