name: Tests on network

on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: 'Network to run tests'
        options:
        - integration
        - testnet
      python_version:
        type: choice
        description: 'Python version'
        options:
        - '3.8'
        - '3.9'

jobs:
  setup:
    name: Download deps, install poetry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Set up Python ${{ github.event.inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: "${{ github.event.inputs.python_version }}"
          cache: 'poetry'
      - name: Install dependencies
        run: |
          poetry install

  all-tests:
    name: Unit and e2e tests
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Set up Python ${{ github.event.inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: "${{ github.event.inputs.python_version }}"
          cache: 'poetry'
      - name: Compile contracts
        run: |
          poetry run poe compile_contracts
      - name: Unit & e2e test
        run: |
          poetry run coverage run -m pytest -v --reruns 2 --only-rerun aiohttp.client_exceptions.ClientConnectorError starknet_py --net=${{ github.event.inputs.network }}
      - name: Generate coverage in XML
        run: |
          poetry run coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
